<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tyrion.plugin.cropper" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>imageCropper</name>
	<js-module name="imageCropper" src="www/imageCropper.js">
		<clobbers target="cordova.plugins.imageCropper" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="imageCropper">
				<param name="android-package" value="com.tyrion.plugin.cropper.imageCropper" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- Required  本地储存写入权限-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

		<source-file src="src/android/image-cropper-lib.jar" target-dir="libs"/>
		<source-file src="src/android/imageCropper.java" target-dir="src/com/tyrion/plugin/cropper" />
	</platform>
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="imageCropper">
                <param name="ios-package" value="imageCropper"/>
            </feature>
        </config-file>
        <header-file src="src/ios/imageCropper.h"/>
        <source-file src="src/ios/imageCropper.m"/>
        <header-file src="src/ios/MLImageCrop.h"/>
        <source-file src="src/ios/MLImageCrop.m"/>
	</platform>
</plugin>

